@use "./variables" as *;

// button mixins

// Primary button mixin, accepts two parameters: background color and text color; both default to the primary and light color, respectively
@mixin primary-button($bg-color: $light-color, $color: $primary-color) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $color;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color; // Darken the button on hover
    color: $bg-color; // Change the text color on hover
  }
}
