@use "./variables" as *;

// button mixins

@mixin primary-button($bg-color: $primary-color, $color: $light-color) {
  background-color: $bg-color;
  color: $color;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%); // Darken the button on hover
  }
}
