//import helpers scss
@use "./helpers/variables" as *;
@use "./helpers/mixins" as *;
@use "./helpers/functions" as *;
//import base scss
@use "./base/typography" as *;

// Import Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* 
********
DEBUG
********
*/

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 
********
RESET 
********
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 
********
BUTTONS
********
*/

button {
  @include primary-button;
}

/* 
********
INPUTS
********
*/

.my-select:focus {
  border-color: $contrast-color;
  box-shadow: 0 0 0 0.25rem rgba(230, 122, 0, 0.25);
}

option {
  color: $primary-color;
}
