// Import Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//import helpers scss
@import "helpers/_variables";
@import "helpers/_mixins";
@import "helpers/_functions";
//import base scss
@import "base/_typography";

/* 
********
DEBUG
********
*/

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppHeader,
.AppFooter {
  flex-shrink: 0; /* Prevents header and footer from shrinking */
}

.router-view {
  flex-grow: 1; /* Allows router-view to take up available space */
}
